body {
  font: caption;
  padding: 0;
  margin: 0;
  color: #222;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 16px;
  line-height: 1.4rem;
  background-color: #f8f8f8;
}

.app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  text-align: center;
}

.text-muted {
  color: #676060;
}

.small {
  font-size: 0.8rem;
}

.mt-3 {
  margin-top: 1.3em;
}

.btn {
  border: 1px solid #222;
  color: #fff;
  background: #474444;
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;
}

.btn:disabled {
  background: #868484;
  cursor: no-drop;
  border-color: #868484;
}

.btn:hover {
  background: #222;
}

.btn:disabled:hover {
  background: #868484;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }
}
