/* hide products menu*/
#gbwa {
  display: none !important;
}

/* align user avatar */
#gb > div > div {
  min-width: 30px !important;
  padding: 0 20px 0 0 !important;
}

#gb > div > div > div {
  min-width: 30px !important;
}

/* Hide add another account button */
#gb a[href^="https://accounts.google.com/AddSession?continue=https://chat.google.com"] {
  display: none !important;
}
