/* Hide products menu */
#gbwa {
  display: none !important;
}

/* Align user avatar, since products menu is hidden */
#gb > div > div {
  min-width: 30px !important;
  padding: 0 20px 0 0 !important;
}

#gb > div > div > div {
  min-width: 30px !important;
}

/* Hide "Add another account" button */
#gb a[href^="https://accounts.google.com/AddSession?continue=https://chat.google.com"] {
  display: none !important;
}
